{% load static %}
<!-- Comment block -->
<div class="card mb-3 mt-5">
    <h5 class="card-header">Comments:</h5>
    <div class="card-body">
        <form action="">
            <div class="form-group">
                <textarea name="" id="" class="form-control mb-3" rows="3" placeholder="Leave Your comment here ..."></textarea>
            </div>
            <button type="submit" class="btn btn-success btn-sm">Comment!</button>
        </form>
    </div>
</div>
<!-- Discussion (Users' comments) -->
<div class="d-flex flex-column justify-content-center align-items-center my-4">
    <hr style="width: 50%" />
</div>
<div class="d-flex col-6 offset-3">
    <div class="flex-shrink-0">
        <img src="" class="rounded-circle" alt="" />
    </div>
    <div class="flex-grow-1 ms-3">
        <h5>Author</h5>
        <p class="text-end text-small">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    </div>
</div>