{% load static %}
<section class="my-navigation">
	<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
		<div class="container-fluid">
			<div>
				<a href="/" class="navbar-brand">
					<img src="{% static 'IMG/Python_logo.png' %}" alt="Python" class="navbar-brand" width="30" height="40" />
				</a>
				<a href="/" class="navbar-brand">
					<img src="{% static 'IMG/NuxtJS_logo.png' %}" alt="NuxtJS" class="navbar-brand" width="30" height="40" />
				</a>
			</div>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<div class="navbar-nav me-auto mb-0 d-flex align-items-center">
					{% if request.get_full_path == "/" %}
					<a href="/" class="nav-link active">Main</a>
					{% else %}
					<a href="/" class="nav-link">Main</a>
					{% endif %} {% if request.get_full_path == "/feedback/" %}
					<a href="{% url 'feedback' %}" class="nav-link active">Feedback</a>
					{% else %}
					<a href="{% url 'feedback' %}" class="nav-link">Feedback</a>
					{% endif %} {% if user.is_authenticated %}
					<span class="badge bg-secondary rounded-pill ms-lg-5">Welcome, {{user.username}}</span>
					{% endif %}
				</div>
				<form action="{% url 'search' %}" class="d-flex my-lg-0 my-3" method="get">
					<input type="text" name="search" class="form-control me-2" placeholder="Search   &#128269;" style="text-align: left" aria-label="Search" />
					<button class="btn btn-outline-success me-2" type="submit">Search</button>
				</form>
				<div class="d-flex justify-content-center">
					{% if user.is_authenticated %}
					<a href="{% url 'logout' %}?next={{request.path}}" class="btn btn-outline-danger">Logout</a>
					{% else %} {% if request.get_full_path == "/accounts/login/" %}
					<a href="{% url 'login' %}" class="btn btn-outline-light active me-2">Sign&nbsp;in</a>
					{% else %}
					<a href="{% url 'login' %}" class="btn btn-outline-light me-2">Sign&nbsp;in</a>
					{% endif %} {% if request.get_full_path == "/accounts/signup" %}
					<a href="{% url 'signup' %}" class="btn btn-outline-light active me-2">Sign&nbsp;up</a>
					{% else %}
					<a href="{% url 'signup' %}" class="btn btn-outline-light me-2">Sign&nbsp;up</a>
					{% endif %} {% endif %}
				</div>
			</div>
		</div>
	</nav>
</section>
