{% load static %}
<div class="col-lg-4">
    <!-- Tags card -->
    <div class="card my-3">
        <h5 class="card-header">Tags</h5>
        <div class="card-body">
            <div class="d-flex flex-wrap">
                <a href="#" class="m-2 nav-link">#...</a>
                <a href="#" class="m-2 nav-link">#...</a>
                <a href="#" class="m-2 nav-link">#...</a>
                <a href="#" class="m-2 nav-link">#...</a>
                <a href="#" class="m-2 nav-link">#...</a>
                <a href="#" class="m-2 nav-link">#...</a>
            </div>
        </div>
    </div>
    <!-- Last posts' cards -->
    <div class="card my-3">
        <h5 class="card-header">Last posts</h5>
        <div class="card-body">
            <h5 class="card-title">First post</h5>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, beatae quisquam! Pariatur dolorem corporis possimus, eius molestias reprehenderit deleniti dolore perferendis expedita quod perspiciatis. Eius
                beatae repudiandae quam ab nostrum!
            </p>
            <a href="" class="card-link">Link on article</a>
        </div>
        <hr />
        <div class="card-body">
            <h5 class="card-title">First post</h5>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, beatae quisquam! Pariatur dolorem corporis possimus, eius molestias reprehenderit deleniti dolore perferendis expedita quod perspiciatis. Eius
                beatae repudiandae quam ab nostrum!
            </p>
            <a href="" class="card-link">Link on article</a>
        </div>
        <hr />
        <div class="card-body">
            <h5 class="card-title">First post</h5>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, beatae quisquam! Pariatur dolorem corporis possimus, eius molestias reprehenderit deleniti dolore perferendis expedita quod perspiciatis. Eius
                beatae repudiandae quam ab nostrum!
            </p>
            <a href="" class="card-link">Link on article</a>
        </div>
    </div>
</div>