<!-- This is the CONTRUCTOR PAGE -->
<!-- This is the CONTRUCTOR PAGE -->
<!-- This is the CONTRUCTOR PAGE -->

<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="This project is a simple test Blog using such technologies: NuxtJS, Bootstrap, Django, Django Rest Framework, Webpack" />
		<meta name="keywords" content="Blog, Django, NuxtJS, Bootstrap" />
		<link rel="stylesheet" href='{% static "node_modules/bootstrap/dist/css/bootstrap.min.css" %}' />
		<link rel="shortcut icon" href="{% static 'favicon/favicon_lg.png' %}" type="image/x-icon" />
		<title>{% block title %}{% endblock %}</title>
	</head>
	<body>
		<div class="container">
			<!-- header -->
			<!-- header -->
			<!-- header -->
			{% include './blocks/header.html' %}
			<!-- body -->
			<!-- body -->
			<!-- body -->
			{% block carousel %}{% endblock %} {% block content %}{% endblock %} {% block pagination %}{% endblock %}
			<!-- footer -->
			<!-- footer -->
			<!-- footer -->
			{% include './blocks/footer.html' %}
		</div>
		<script src='{% static "node_modules/bootstrap/dist/js/bootstrap.bundle.min.js" %}'></script>
		<script src='{% static "dist/bundle.js" %}'></script>
	</body>
</html>

<!-- This is the CONTRUCTOR PAGE -->
<!-- This is the CONTRUCTOR PAGE -->
<!-- This is the CONTRUCTOR PAGE -->

<!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, odio provident! Vel id nesciunt dolore. Illo doloribus, eius veniam a recusandae ex molestiae voluptatibus cum atque, explicabo, consequatur corporis quas!
Cum ipsam earum alias itaque? Impedit, officia ad quam, veniam similique perferendis dolore quos soluta recusandae eligendi ea voluptate adipisci rerum corporis distinctio animi officiis autem obcaecati hic, necessitatibus deleniti.
Voluptas nostrum veniam dolorem, aspernatur natus nemo nisi ex quas temporibus, magnam expedita veritatis minus. Sit, pariatur molestiae eum iure consequatur minima sed illo obcaecati est veritatis explicabo repellat quam.
Porro culpa nobis vitae corporis placeat inventore. Excepturi non nihil eaque voluptas deleniti saepe sed nostrum, illum cupiditate assumenda pariatur amet animi iusto fugit dolore voluptatibus culpa hic maxime? Exercitationem.
Quasi eligendi possimus vero dolores praesentium maxime, alias laborum sit cum quis, deleniti cumque rem illo obcaecati. Dolores enim reiciendis assumenda consectetur et, iusto, dolorem sunt fugit tempore, commodi quasi. -->
