<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="This project is a simple test Blog using such technologies: NuxtJS, Bootstrap, Django, Django Rest Framework, Webpack" />
		<meta name="keywords" content="Blog, Django, NuxtJS, Bootstrap" />
		<link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/static/src/css/index.css" />
		<link rel="shortcut icon" href="/static/favicon/favicon_lg.png" type="image/x-icon" />
		<title>Blog</title>
	</head>
	<body>
		<div class="container">
			<!-- header -->
			<!-- header -->
			<!-- header -->
			<section class="my-navigation">
				<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
					<div class="container-fluid">
						<div>
							<a href="#" class="navbar-brand">
								<img src="/static/IMG/Python_logo.png" alt="Python" class="navbar-brand" width="30" height="40" />
							</a>
							<a href="#" class="navbar-brand">
								<img src="/static/IMG/NuxtJS_logo.png" alt="NuxtJS" class="navbar-brand" width="30" height="40" />
							</a>
						</div>
						<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<div class="navbar-nav me-auto mb-0 d-flex align-items-center">
								<a href="#" class="nav-link" aria-current="page">Main</a>
								<a href="#" class="nav-link active">Contacts</a>
							</div>
							<form action="" class="d-flex" role="search">
								<input type="search" class="form-control me-2" placeholder="Search   &#128269;" style="text-align: left" aria-label="Search" />
								<button class="btn btn-outline-light me-2" type="submit">Search</button>
								<button type="button" class="btn btn-outline-light me-2">Sign&nbsp;in</button>
								<button type="button" class="btn btn-outline-light me-2">Sign&nbsp;up</button>
								<button type="button" class="btn btn-outline-danger">Logout</button>
							</form>
						</div>
					</div>
				</nav>
			</section>
			</section>
			<!-- body -->
			<!-- body -->
			<!-- body -->
			<section class="my-contacts">
				<div class="row justify-content-center">
					<div class="col-8 offset-0">
						<nav aria-label="breadcrumb" class="my-3">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Main</a></li>
								<li class="breadcrumb-item active" aria-current="page">Contacts</li>
							</ol>
						</nav>
						<div class="row justify-content-center">
							<div class="col-6">
								<p class="text-center lead"><b>Fill Your request in the form below.</b></p>
							</div>
							<form action="" name="contacts-form">
								<div class="row">
									<div class="col-md-6">
										<div class="md-form mb-0">
											<label for="name" class="form-label">Name:</label>
											<input type="text" name="name" id="name" class="form-control" placeholder="Enter Your name..." />
										</div>
									</div>
									<div class="col-md-6">
										<div class="md-form mb-0">
											<label for="email" class="form-label">Email:</label>
											<input type="email" name="email" id="email" class="form-control" placeholder="Enter Your email..." />
										</div>
									</div>
								</div>
								<div class="row mt-3">
									<div class="col-md-12">
										<div class="md-form mb-0">
											<label for="theme" class="form-label">Theme:</label>
											<input type="text" name="theme" id="theme" class="form-control" placeholder="Enter a theme..." />
										</div>
									</div>
								</div>
								<div class="row mt-3">
									<div class="col-md-12">
										<div class="md-form">
											<label for="message" class="form-label">Message:</label>
											<textarea type="text" name="message" id="message" rows="5" class="form-control md-textarea" placeholder="Enter a message..."></textarea>
										</div>
									</div>
								</div>
                                <div>
                                    <button type="submit" class="btn btn-outline-success mt-3">Comment!</button>
                                </div>
							</form>
						</div>
					</div>
				</div>
			</section>
			<!-- footer -->
			<!-- footer -->
			<!-- footer -->
			<section class="my-footer fixed-bottom">
				<footer class="col-12 mt-3">
					<ul class="nav justify-content-center">
						<li class="nav-item">
							<a href="/" class="nav-link px-2" title="Home page"><b>Home</b></a>
						</li>
					</ul>
					<hr class="my-1 offset-3" style="width: 50%;" />
					<p class="text-center text-body-secondary pb-4">2023 MyHomeworks, &#123; &#125;</p>
				</footer>
			</section>
		</div>
		<script src="/static/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
		<script src="/static/src/js/index.js"></script>
	</body>
</html>
